<h2>Tour List</h2>

<button routerLink="/add-tour">Add Tour</button>

<ul>
  <li *ngFor="let tour of tours$ | async">
    <a [routerLink]="['/tours', tour.id]">
      {{ tour.name }} ({{ tour.from }} → {{ tour.to }})
    </a>

    <div class="button-group">
      <button class="edit" [routerLink]="['/edit-tour', tour.id]">Edit</button>
      <button class="delete" (click)="deleteTour(tour.id)">Loeschen</button>
      <button class="logs" [routerLink]="['/tours', tour.id, 'logs']">Logs</button>
    </div>
  </li>
</ul>


